<ion-header>
  <ion-navbar>
    <ion-title style="text-align: center;">
      Calculadora de precios
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<form name="form" (ngSubmit)="onSubmit()" class="col-md-6 col-md-offset-3">
	    <ion-grid>

	        <ion-row>
	            <ion-list>
					
	            	<ion-list radio-group [(ngModel)]="producto.material" name="material">
						<h5 text-center>Material</h5>
						<ion-row>
						<ion-col>
		            	  <ion-item>
		            	    <ion-label>Lona</ion-label>
		            	    <ion-radio value="Lona" name="material"></ion-radio>
		            	  </ion-item>
						</ion-col>
						<ion-col>
		            	  <ion-item>
		            	    <ion-label>Vinil</ion-label>
		            	    <ion-radio value="Vinil" name="material"></ion-radio>
		            	  </ion-item>
						</ion-col>
						</ion-row>
	            	</ion-list>
					
					<h5 text-center>Tamaño</h5>
					<ion-row no-margin>
						<ion-col>
						<ion-item>
							<ion-label floating>Ancho</ion-label>
							<ion-input type="number" [(ngModel)]="producto.ancho" name="ancho"></ion-input>
						</ion-item>
						</ion-col>
						<ion-col>
						<ion-item>
							<ion-label floating>Alto</ion-label>
							<ion-input type="number" [(ngModel)]="producto.alto" name="alto"></ion-input>
						</ion-item>
						</ion-col>
					</ion-row>
					<ion-item padding-top>
					  <ion-label>Solo Impreción</ion-label>
					  <ion-checkbox color="dark" checked="true" [(ngModel)]="producto.imprecion" value="imprecion" name="imprecion"></ion-checkbox>
					</ion-item>
	            
			        <ion-row *ngIf="!producto.imprecion">
			        	<ion-col col-12 text-center>
			        		<ion-list-header> Opciones </ion-list-header>
			        	</ion-col>
			            <ion-list>
			            <ion-row>
			            	<ion-col col-6>
			            	<ion-item>
			            	  <ion-label>Troquelado</ion-label>
			            	  <ion-checkbox color="dark" checked="true" [(ngModel)]="producto.troquelado" value="1" name="troquelado"></ion-checkbox>
			            	</ion-item>
			            	</ion-col>

			            	<ion-col col-6>
			            	<ion-item>
			            	  <ion-label>PVC</ion-label>
			            	  <ion-checkbox color="dark" checked="true" [(ngModel)]="producto.pvc" value="1" name="pvc"></ion-checkbox>
			            	</ion-item>
			            	</ion-col>

			            </ion-row>
			            <ion-row>
			            	<ion-col col-6>
			            	<ion-item>
			            	  <ion-label>Tornillos</ion-label>
			            	  <ion-checkbox color="dark" checked="true" [(ngModel)]="producto.tornillos" value="1" name="tornillos"></ion-checkbox>
			            	</ion-item>
			            	</ion-col>  
			            	<ion-col col-6>
			            	<ion-item>
			            	  <ion-label>Pega</ion-label>
			            	  <ion-checkbox color="dark" checked="true" [(ngModel)]="producto.pega" value="1" name="pega"></ion-checkbox>
			            	</ion-item>
			            	</ion-col> 
			            </ion-row>
			            <ion-row>
			            	<ion-col col-6>
			            	<ion-item>
			            	  <ion-label>Silicon</ion-label>
			            	  <ion-checkbox color="dark" checked="true" [(ngModel)]="producto.silicon" value="1" name="silicon"></ion-checkbox>
			            	</ion-item>
			            	</ion-col> 
			            	<ion-col col-6>
			            	<ion-item>
			            	  <ion-label>Laminador</ion-label>
			            	  <ion-checkbox color="dark" checked="true" [(ngModel)]="producto.laminador" value="1" name="laminador"></ion-checkbox>
			            	</ion-item>
			            	</ion-col> 
			            </ion-row>
			          	</ion-list>
					</ion-row>
	        	</ion-list>
	        </ion-row>
	        <ion-row>
	        	<button ion-button full [disabled]="loading || !producto.ancho || !producto.alto">
	                <span *ngIf="!loading">Calcular</span>
	                <span *ngIf="loading">Calculando...</span>
	        	</button>
	        </ion-row>
    		<ion-col col-12 margin-top>
                <h2 style="text-align: center;">
                	Max: {{total + producto.negociar | currency:'USD':true:'1.2'}} Min: {{total | currency:'USD':true:'1.2'}}
                </h2>
            </ion-col>
	    </ion-grid>
	</form>
</ion-content>
