<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Inicio" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Precios" tabIcon="logo-usd"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Configuración" tabIcon="cog"></ion-tab>
</ion-tabs>
