<ion-header>
  <ion-navbar>
    <ion-title>
      Configuración
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  
  <form name="form" (ngSubmit)="onSubmit()">
      <section class="panel panel-default">
          <ion-row>
              <ion-col col-6>
              <ion-item>
                <ion-label floating>Lona</ion-label>
                <ion-input type="number" [(ngModel)]="precios.lona" name="lona"></ion-input>
              </ion-item>
              </ion-col>
              <ion-col col-6>
              <ion-item>
                <ion-label floating>Vinil</ion-label>
                <ion-input type="number" [(ngModel)]="precios.vinil" name="vinil"></ion-input>
              </ion-item>
              </ion-col>
              <ion-col col-6>
              <ion-item>
                <ion-label floating>Diseño</ion-label>
                <ion-input type="number" [(ngModel)]="precios.diseno" name="diseno"></ion-input>
              </ion-item>
              </ion-col>
              <ion-col col-6>
              <ion-item>
                <ion-label floating>Troquelado</ion-label>
                <ion-input type="number" [(ngModel)]="precios.troquelado" name="troquelado"></ion-input>
              </ion-item>
              </ion-col>
              <ion-col col-6>
              <ion-item>
                <ion-label floating>Tornillos</ion-label>
                <ion-input type="number" [(ngModel)]="precios.tornillos" name="tornillos"></ion-input>
              </ion-item>
              </ion-col>
              <ion-col col-6>
              <ion-item>
                <ion-label floating>Pega</ion-label>
                <ion-input type="number" [(ngModel)]="precios.pega" name="pega"></ion-input>
              </ion-item>
              </ion-col>
              <ion-col col-6>
              <ion-item>
                <ion-label floating>Silicon</ion-label>
                <ion-input type="number" [(ngModel)]="precios.silicon" name="silicon"></ion-input>
              </ion-item>
              </ion-col>
              <ion-col col-6>
              <ion-item>
                <ion-label floating>Laminador</ion-label>
                <ion-input type="number" [(ngModel)]="precios.laminador" name="laminador"></ion-input>
              </ion-item>
              </ion-col>
          </ion-row>
          <ion-row margin>
            <button ion-button full [disabled]="loading">
                  <span *ngIf="!loading">Guardar</span>
                  <span *ngIf="loading">Guardando...</span>
            </button>
          </ion-row>
      </section>
  </form>

</ion-content>
