<ion-header>
  <ion-navbar>
    <ion-title text-center>Global Ilobasco</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- <h2>Bienvenido!</h2> -->
  <img src="assets/imgs/logo.png" alt="">
  <!-- <p>
    This starter project comes with simple tabs-based layout for apps
    that are going to primarily use a Tabbed UI.
  </p> -->
</ion-content>
